@charset "utf-8";
/*******************
*Start Reset
*clear css
/********************/
a, abbr, address, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, img, input, select,textarea, ins, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp{border:0;margin:0;padding:0;}
body{font:12px/1.6 Microsoft YaHei,Arial, Helvetica;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
b, strong{font-weight:bold}
h1, h2, h3, h4, h5, h6{font-size:100%}
em{font-style:normal}
img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
ol, ul{list-style:none}
li{display:list-item;list-style:outside none}
table{border-collapse:collapse;border-spacing:0}
th, td, caption{font-weight:normal;}
q{quotes:none}
q:before, q:after{content:'';content:none}
sub, sup, small{font-size:75%}
sub, sup{line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
svg{overflow:hidden}
pre, code{font-family:'DejaVu Sans Mono', Monaco, Consolas, monospace}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
a{text-decoration:none; color:#000;}
/******************
*End
******************/
/******************
*Start Clear Float
******************/
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,.clearfix:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.cl{clear:left}
.cr{clear:right}
.hidden{visibility:hidden}
.visible{visibility:visible}
.none{display:none}
.block{display:block}
.overHid{ overflow:hidden}
/******************
*End
******************/
/******************
*position
******************/
.pr{position:relative}.pb{position:absolute}.tl{text-align:left}.tr{text-align:right}.tc{text-align:center}
/******************
*End
******************/


/******************
*font size
******************/
.f24{font-size:24px}.f22{font-size:22px}.f20{font-size:20px}.f18{font-size:18px}.f16{font-size:16px}.f14{font-size:14px}.f12{font-size:12px}.fb{font-weight:bold}.fn{font-style:normal}.fbl{font-weight:lighter}.fm{font-family:"Microsoft Yahei"}
/******************
*End
******************/


/******************
*font color
******************/
.blue,.blue a{color:#0068B7}
.black,.black a{color:#000000}
.white,.white a{color:#FFFFFF}
.green,.green a{color:#22AC38}
.gray,.gray a{color:#CCCCCC}
.deepGray,.deepGray a{color:#313131}
.gold,.gold a{color:#CFA972}
.orange,.orange a{color:#ff6600}
.purple,.purple a{color:#920783}
.red,.red a{color:#D14836}
/******************
*End
******************/
/******************
*background color
******************/
.bgOrange{background-color:#ff6600}
.bgWhite{background-color:#FFFFFF}
.bgBlue{background-color:#0068B7}
.bgGray{background-color:#CCCCCC}
/******************
*End
******************/
/******************
*border
******************/
.borNone{border:none}
.borNlr{border-left:none;border-right:none}
.borNtb{border-top:none;border-bottom:none}
.borNl{border-left:none}
.borNt{border-top:none}
.borNr{border-right:none}
.borNb{border-bottom:none}
.borRd4{border-radius:4px}
/******************
*End
******************/
/******************
*btn
******************/
.btn-gray{
    background-color: #6b6b6b;
    border-color: #6b6b6b;
    color: #ffffff;
}
.btn-gray:hover,.btn-gray:focus,.btn-gray:active{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    color: #ffffff;
}
/******************
*btn
******************/
/******************
*width
******************/
.w{width:100%}.w10{width:10px}.w20{width:20px}.w25{width:25px}.w30{width:30px}.w35{width:35px}.w40{width:40px}.w45{width:45px}.w50{width:50px}.w55{width:55px}.w60{width:60px}.w65{width:65px}.w70{width:70px}.w75{width:75px}.w80{width:80px}.w85{width:85px}.w90{width:90px}.w95{width:95px}.w100{width:100px}.w110{width:110px}.w120{width:120px}.w130{width:130px}.w140{width:140px}.w150{width:150px}.w160{width:160px}.w170{width:170px}.w180{width:180px}.w190{width:190px}.w200{width:200px}.w210{width:210px}.w220{width:220px}.w230{width:230px}.w240{width:240px}.w250{width:250px}.w260{width:260px}.w270{width:270px}.w280{width:280px}.w290{width:290px}.w300{width:300px}.w310{width:310px}.w320{width:320px}.w330{width:330px}.w340{width:340px}.w350{width:350px}.w360{width:360px}.w370{width:370px}.w380{width:380px}.w390{width:390px}.w400{width:400px}.w410{width:410px}.w420{width:420px}.w430{width:430px}.w440{width:440px}.w450{width:450px}.w460{width:460px}.w470{width:470px}.w480{width:480px}.w490{width:490px}.w500{width:500px}.w510{width:510px}.w520{width:520px}.w530{width:530px}.w540{width:540px}.w550{width:550px}.w560{width:560px}.w570{width:570px}.w580{width:580px}.w590{width:590px}.w600{width:600px}.w610{width:610px}.w620{width:620px}.w630{width:630px}.w640{width:640px}.w650{width:650px}.w660{width:660px}.w670{width:670px}.w680{width:680px}.w690{width:690px}.w700{width:700px}.w710{width:710px}.w720{width:720px}.w730{width:730px}.w740{width:740px}.w750{width:750px}.w760{width:760px}.w770{width:770px}.w780{width:780px}.w790{width:790px}.w800{width:800px}.w810{width:810px}.w820{width:820px}.w830{width:830px}.w840{width:840px}.w850{width:850px}.w860{width:860px}.w870{width:870px}.w880{width:880px}.w890{width:890px}.w900{width:900px}.w910{width:910px}.w920{width:920px}.w930{width:930px}.w940{width:940px}.w950{width:950px}.w960{width:960px}.w970{width:970px}.w980{width:980px}.w990{width:990px}.w1000{width:1000px}
/******************
*End
******************/
/******************
*height
******************/
.h{height:100%}.h25{height:25px}.hl25{height:25px;line-height:25px}.h26{height:26px}.hl26{height:26px;line-height:26px}.h27{height:27px}.hl27{height:27px;line-height:27px}.h28{height:28px}.hl28{height:28px;line-height:28px}.h30{height:30px}.hl30{height:30px;line-height:30px}.h35{height:35px}.hl35{height:35px;line-height:35px}.h40{height:40px}.hl40{height:40px;line-height:40px}.h50{height:50px}.hl50{height:50px;line-height:50px}.h60{height:60px}.hl60{height:60px;line-height:60px}.h70{height:70px}.hl70{height:70px;line-height:70px}.h80{height:80px}.hl80{height:80px;line-height:80px}.h90{height:90px}.hl90{height:90px;line-height:90px}.h100{height:100px}.hl100{height:100px;line-height:100px}.h150{height:150px}.hl150{height:150px;line-height:150px}.h200{height:200px}.hl200{height:200px;line-height:200px}
/******************
*End
******************/


/******************
*margin
******************/
.mlr{margin-left:auto;margin-right:auto}.mtb0{margin-top: 0;margin-bottom: 0;}.mlr0{margin-left: 0;margin-right: 0;}.ml{margin-left:auto}.mr{margin-right:auto}.ml0{margin-left: 0}.mr0{margin-right: 0}.mt0{margin-top: 0}.mb0{margin-bottom: 0}.m1{margin:1px}.mtb1{margin-top:1px;margin-bottom:1px}.mlr1{margin-left:1px;margin-right:1px}.ml1{margin-left:1px}.mr1{margin-right:1px}.mt1{margin-top:1px}.mb1{margin-bottom:1px}.m2{margin:2px}.mtb2{margin-top:2px;margin-bottom:2px}.mlr2{margin-left:2px;margin-right:2px}.ml2{margin-left:2px}.mr2{margin-right:2px}.mt2{margin-top:2px}.mb2{margin-bottom:2px}.m3{margin:3px}.mtb3{margin-top:3px;margin-bottom:3px}.mlr3{margin-left:3px;margin-right:3px}.ml3{margin-left:3px}.mr3{margin-right:3px}.mt3{margin-top:3px}.mb3{margin-bottom:3px}.m4{margin:4px}.mtb4{margin-top:4px;margin-bottom:4px}.mlr4{margin-left:4px;margin-right:4px}.ml4{margin-left:4px}.mr4{margin-right:4px}.mt4{margin-top:4px}.mb4{margin-bottom:4px}.m5{margin:5px}.mtb5{margin-top:5px;margin-bottom:5px}.mlr5{margin-left:5px;margin-right:5px}.mt5{margin-top:5px}.mb5{margin-bottom:5px}.ml5{margin-left:5px}.mr5{margin-right:5px}.m10{margin:10px}.mtb10{margin-top:10px;margin-bottom:10px}.mlr10{margin-left:10px;margin-right:10px}.mt10{margin-top:10px}.mb10{margin-bottom:10px}.ml10{margin-left:10px}.mr10{margin-right:10px}.m15{margin:15px}.mtb15{margin-top:15px;margin-bottom:15px}.mlr15{margin-left:15px;margin-right:15px}.mt15{margin-top:15px}.mb15{margin-bottom:15px}.ml15{margin-left:15px}.mr15{margin-right:15px}.m20{margin:20px}.mtb20{margin-top:20px;margin-bottom:20px}.mlr20{margin-left:20px;margin-right:20px}.mt20{margin-top:20px}.mb20{margin-bottom:20px}.ml20{margin-left:20px}.mr20{margin-right:20px}.m25{margin:25px}.mtb25{margin-top:25px;margin-bottom:25px}.mlr25{margin-left:25px;margin-right:25px}.mt25{margin-top:25px}.mb25{margin-bottom:25px}.ml25{margin-left:25px}.mr25{margin-right:25px}.m30{margin:30px}.mt30{margin-top:30px}.mtb30{margin-top:30px;margin-bottom:30px}.mlr30{margin-left:30px;margin-right:30px}.mb30{margin-bottom:30px}.ml30{margin-left:30px}.mr30{margin-right:30px}.m40{margin:40px}.mt40{margin-top:40px}.mtb40{margin-top:40px;margin-bottom:40px}.mlr40{margin-left:40px;margin-right:40px}.mb40{margin-bottom:40px}.ml40{margin-left:40px}.mr40{margin-right:40px}
/******************
*End
******************/




/******************
*padding
******************/
.p0{padding:0;}.ptb0{padding-top:0;padding-bottom:0}.plr0{padding-left:0;padding-right:0}.pt0{padding-top:0}.pb0{padding-bottom:0}.pl0{padding-left:0}.pr0{padding-right:0}.p1{padding:1px}.ptb1{padding-top:1px;padding-bottom:1px}.plr1{padding-left:1px;padding-right:1px}.pt1{padding-top:1px}.pb1{padding-bottom:1px}.pl1{padding-left:1px}.pr1{padding-right:1px}.p2{padding:2px}.ptb2{padding-top:2px;padding-bottom:2px}.plr2{padding-left:2px;padding-right:2px}.pt2{padding-top:2px}.pb2{padding-bottom:2px}.pl2{padding-left:2px}.pr2{padding-right:2px}.p3{padding:3px}.ptb3{padding-top:3px;padding-bottom:3px}.plr3{padding-left:3px;padding-right:3px}.pt3{padding-top:3px}.pb3{padding-bottom:3px}.pl3{padding-left:3px}.pr3{padding-right:3px}.p4{padding:4px}.ptb4{padding-top:4px;padding-bottom:4px}.plr4{padding-left:4px;padding-right:4px}.pt4{padding-top:4px}.pb4{padding-bottom:4px}.pl4{padding-left:4px}.pr4{padding-right:4px}.p5{padding:5px}.ptb5{padding-top:5px;padding-bottom:5px}.plr5{padding-left:5px;padding-right:5px}.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}.p10{padding:10px}.ptb10{padding-top:10px;padding-bottom:10px}.plr10{padding-left:10px;padding-right:10px}.pt10{padding-top:10px}.pb10{padding-bottom:10px}.pl10{padding-left:10px}.pr10{padding-right:10px}.p15{padding:15px}.ptb15{padding-top:15px;padding-bottom:15px}.plr15{padding-left:15px;padding-right:15px}.pt15{padding-top:15px}.pb15{padding-bottom:15px}.pl15{padding-left:15px}.pr15{padding-right:15px}.p20{padding:20px}.ptb20{padding-top:20px;padding-bottom:20px}.plr20{padding-left:20px;padding-right:20px}.pt20{padding-top:20px}.pb20{padding-bottom:20px}.pl20{padding-left:20px}.pr20{padding-right:20px}.p25{padding:25px}.ptb25{padding-top:25px;padding-bottom:25px}.plr25{padding-left:25px;padding-right:25px}.pt25{padding-top:25px}.pb25{padding-bottom:25px}.pl25{padding-left:25px}.pr25{padding-right:25px}.p30{padding:30px}.ptb30{padding-top:30px;padding-bottom:30px}.plr30{padding-left:30px;padding-right:30px}.pt30{padding-top:30px}.pb30{padding-bottom:30px}.pl30{padding-left:30px}.pr30{padding-right:30px}.p35{padding:35px}.ptb35{padding-top:35px;padding-bottom:35px}.plr35{padding-left:35px;padding-right:35px}.pt35{padding-top:35px}.pb35{padding-bottom:35px}.pl35{padding-left:35px}.pr35{padding-right:35px}.p40{padding:40px}.ptb40{padding-top:40px;padding-bottom:40px}.plr40{padding-left:40px;padding-right:40px}.pt40{padding-top:40px}.pb40{padding-bottom:40px}.pl40{padding-left:40px}.pr40{padding-right:40px}.p50{padding:50px}.ptb50{padding-top:50px;padding-bottom:50px}.plr50{padding-left:50px;padding-right:50px}.pt50{padding-top:50px}.pb50{padding-bottom:50px}.pl50{padding-left:50px}.pr50{padding-right:50px}.p100{padding:100px}.ptb100{padding-top:100px;padding-bottom:100px}.plr100{padding-left:100px;padding-right:100px}.pt100{padding-top:100px}.pb100{padding-bottom:100px}.pl100{padding-left:100px}.pr100{padding-right:100px}.pl110{padding-left:110px}.pl120{padding-left:120px}.pl130{padding-left:130px}.pl140{padding-left:140px}.pl150{padding-left:150px}.pl160{padding-left:160px}.pl170{padding-left:170px}.pl180{padding-left:180px}.pl190{padding-left:190px}.pl200{padding-left:200px}.pl210{padding-left:210px}.pl220{padding-left:220px}.pl230{padding-left:230px}.pl240{padding-left:240px}.pl250{padding-left:250px}.pl260{padding-left:260px}.pl270{padding-left:270px}.pl280{padding-left:280px}.pl290{padding-left:290px}.pl300{padding-left:300px}
/******************
*End
******************/