.parent {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  /* justify-content: start; */
  place-content: start end;
}
.son {
  border: 1px solid #ddd;
  background-color: #f40;
}