.parent {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  width: 30vw;
  height: 30vw;
  border: 1px solid #000;
}

.parent .son:nth-child(1){
  grid-area: 2/2/4/3;
  background-color: #f40;
}